
<div class="show-item">

	<div id="fot">
		<%=image_tag("logosys2.png" , class:"img-responsive" , alt:"Responsive image", style:"width:40%; height:40%;")%>
		<%=image_tag("empresa/full.jpg" , class:"img-responsive" , alt:"Responsive image")%>

	</div>
 <div class="show-title"><p>Nuestra Historia</p></div>
   <div class="or-spacer">
  <div class="mask"></div>
  <span><i></i></span>
</div>
  <div class="empresa">
  	<img src="/assets/empresa/f1.JPG" >
  	<img src="/assets/empresa/f2.JPG" >
  	<img src="/assets/empresa/f3.JPG" >
      
  </div>
<div class="wrapper">
 



  <div class="show-desc"><p>




			Sistemas y Suministros de Ingeniería S.A. fué fundada con el propósito de hacer frente a las crecientes necesidades que demanda el área de la refrigeración comercial e industrial.
			</br></br>

			Su principal objetivo es ofrecer nuevos productos y dar un servicio de calidad al gran mercado de mantener los estándares de calidad requeridos por el mercado nacional y de ir a la par con el desarrollo comercial alcanzado.

			</br></br>
			El equipo de profesionales cuenta con la experiencia necesaria para dar solución efectiva a las inquietudes y necesidades técnicas en nuestro país.
			</br></br>

			La gama de repuestos dispuestos en nuestras instalaciones, nos permite ser una empresa que compite en el campo de la refrigeraciónen nuestro país.

			</br></br>
			Importamos nuestro productos manteniendo un stock permanente con el propósito de trabajar con nuevas tecnologías y dar solución inmediata que presenta la refrigeración comercial e industrial.


			
			</br>
	</p></div>

</div>

</div>