<br>
<br>
<br>
<br>
<h3>Nuestra Historia</h3>
<br>
<p>Sistemas y Suministros de Ingeniería S.A. fué fundada con el propósito de hacer frente a las crecientes necesidades que demanda el área de la refrigeración comercial e industrial.
<br>

<p>Su principal objetivo es ofrecer nuevos productos y dar un servicio de calidad al gran mercado de mantener los estándares de calidad requeridos por el mercado nacional y de ir a la par con el desarrollo comercial alcanzado.</p>

<br>
<p>El equipo de profesionales cuenta con la experiencia necesaria para dar solución efectiva a las inquietudes y necesidades técnicas en nuestro país.</p>
<br>

<p>La gama de repuestos dispuestos en nuestras instalaciones, nos permite ser una empresa que compite en el campo de la refrigeraciónen nuestro país.</p>

<br>
<p>Importamos nuestro productos manteniendo un stock permanente con el propósito de trabajar con nuevas tecnologías y dar solución inmediata que presenta la refrigeración comercial e industrial.</p>


<br>
<br>
<br>
<br>