
<div class="contact">
 <div class="show-title"><p>Contáctanos:</p></div>
   <div class="or-spacer">
  <div class="mask"></div>
  <span><i></i></span>


<div id="map-canvas" class="col-xs-12 col-sm-12 col-md-5 col-lg-5" ></div>

</div>

<div class="form-contact">
<p>Se ha enviado correctamente</p>
</div>

</div>