// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.productos{
	
	background-color: #fff;
	margin-top: 100px;
}

#crumb 
{
	margin-top:50px;
}

.opciones-bg{
	background: asset-url('opciones-bg.jpg');
	border:5px solid #fff;
	padding-left: 0;
	padding-right: 0;
	background-size: cover;
	margin-bottom:20px;
	min-height: calc(100%);
}

.cat{
	height:120px;
	border:5px solid #fff;
	overflow: hidden;
	background: rgba(0,0,0,.3);

	p{
		text-align: center;
		font-size: 25px;
		color: #fff;
		margin-top: 15%;
		text-align: center;
		height: 55%;
		line-height: 0.9;
		text-shadow: 5px 5px 10px black;

	}

	a, a:visited{
	color:white;
	}

	a:hover{
	background:none;
	}
}


.cat{
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;     
}

.cat img {
background: white;
margin-left: -310px;
float: left;
height: 120px;
width: 291px;
}
.cat:hover img {
	margin-left:-15px;
	width: 115%;
	height: 120px;
	display: block;
	 p{
	 	display: none;
	 }
}

.cat img, p {
-webkit-transition: all 0.5s ease;
-moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
transition: all 0.5s ease;
}

.cat-info{

	height: 350px;
	margin-top: 160px;
	width: 350px;
	margin-right: 50px;

	p{
		font-size: 20px;
		color: #fff;
		margin: 20px;
	}
}

.category{
	margin-top: 100px;
}

.types{
	height:200px;
	align-content: center;
	/*border:1px solid #bbb;*/
	overflow: hidden;
	margin: 0 auto;
	margin-top: 50px;
	display: table;


	.imgType{
		/*background: rgba(39,62,84,.5); */
		margin: 0 auto;
		width: 200px;
		display: block;
		float:left;
		}
		
	p{display: none;}




}

.types img {
    background: white;
	width:200px;
	height:200px;
	position: relative;
	opacity: 0.5;
				 -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;  

	}

.types img:hover {
	display: block;
	 zoom: 1;
    filter: alpha(opacity=50);
	opacity: 1;

}


.info-type{
	margin: 0 auto;
	margin-top: 70px;
	height: 100px;
	width: 500px;
	background: #042852;
	margin-bottom: 150px;
	border-radius:10px;

	p{
		padding:35px;
		text-align: center;
		font-size: 16px;
		color: #fff;
		vertical-align:center;
	}
}




.products-cat{
	margin-top: 100px;
	.product{
		color: #fff;
	}
}

.bread{
	margin-top: 70px;

}
.ocultarLinks a:nth-child(n+2)
{
	display:none;
}

.show-des .tool-desc
{
	font-size: 10px;
}
/*
.imgType
{
	transform: skew(-26deg, 0deg) ;
	-webkit-transform: skew(-26deg, 0deg) ;
	-moz-transform: skew(-26deg, 0deg) ;
	-o-transform: skew(-26deg, 0deg) ;
	-ms-transform: skew(-26deg, 0deg) ;
	border: 6px solid green;
}
.imgType img
{
	transform: skew(26deg, 0deg) ;
	-webkit-transform: skew(26deg, 0deg) ;
	-moz-transform: skew(26deg, 0deg) ;
	-o-transform: skew(26deg, 0deg) ;
	-ms-transform: skew(26deg, 0deg) ;
}*/

@media only screen and (max-width : 960px) {

	.categories{
		margin-top: 0;
	
	}

	.cat-info{

	height: 150px;
	margin-top: 0;
	width: 100%;
}


}

@media only screen and (max-width : 640px) {
	.cat{
	height:120px;
	border:5px solid #fff;
	overflow: hidden;
	background: rgba(0,0,0,.3);

	p{
		text-align: center;
		font-size: 16px;
		color: #fff;
		margin-top: 35%;
		text-align: center;
		height: 55%;
		line-height: 0.9;
		text-shadow: 5px 5px 10px black;

	}


}
	
}


cat:hover img {
	margin-left:-15px;
	width: none;
	 p{
	 	display: none;
	 }
}

