<div class="category">
<h1>> PRODUCTOS > COMPRESORES</h1>

<div class="types">
	<% types.each do |type| %>
		<%= image_tag type.image %>


 	<% end %>


	<a href="/show"><img src="assets/cat-1-hover-01.png"></a>
</div>



<div class="info-type">
	<p>COMPRESORES SEMI-HERMÉTICOS | 1 a 80 HP. Fabricados en Italia</p>
</div>

</div>

<% types.each do |type| %>
<div>
<div>
 <%= image_tag type.image%>
 <%= type.image%>
 <%= type.model%>

</div>
</div>
<% end %>