<script type="text/javascript">CheckedValues();</script>

<div class="category">

<div class="types">
	

	 <div class="imgType">
		
		<%= link_to (image_tag "tools/tools.png"), :controller => "categories", :action => "show_tools", :type => @tools, :link=>"tools/tools.png" , :titulo=>"Herramientas" , :fotos=>"tools" %>
		

		
		<p>Herramientas</p>

	</div>

	<div class="imgType">
		
		<%= link_to (image_tag "tools/acce.png"), :controller => "categories", :action => "show_tools", :type => @accesories, :link=>"tools/acce.png" , :titulo=>"Accesorios" , :fotos=>"accesories"%>
		
			
		
		
		<p>Accesorios</p>
	</div>



	


</div>



<div class="info-type">
	<p>Selecciona una categoría</p>
</div>

</div>




