<script type="text/javascript">CheckedValues();</script>

<div class="category">

<div class="types">
	

	 <div class="imgType">
		
		<%= link_to (image_tag "tools/micro.png"), :controller => "categories", :action => "show_tools", :type => @micro, :link=>"tools/micro.png" , :titulo=>"Microprocesador" , :fotos=>"micro" %>
		

		
		<p>Microprocesador</p>

	</div>

	<div class="imgType">
		
		<%= link_to (image_tag "tools/termo.png"), :controller => "categories", :action => "show_tools", :type => @termo, :link=>"tools/termo.png" , :titulo=>"Termometros" , :fotos=>"termo"%>
		
			
		
		
		<p>Accesorios</p>
	</div>


	<div class="imgType">
		
		<%= link_to (image_tag "tools/pres.png"), :controller => "categories", :action => "show_tools", :type => @pres, :link=>"tools/pres.png" , :titulo=>"Presostatos y Termostatos" , :fotos=>"pres"%>
		
			
		
		
		<p>Accesorios</p>
	</div>


	


</div>



<div class="info-type">
	<p>Selecciona una categoría</p>
</div>

</div>

