<script type="text/javascript">CheckedValues();</script>

<div class="category">

<div class="types">
	

	 <div class="imgType">
		
		<%= link_to (image_tag "tools/rec.png"), :controller => "categories", :action => "show_tools", :type => @rec, :link=>"tools/rec.png" , :titulo=>"Tubo Recibidor" , :fotos=>"rec" %>
		

		
		<p>Tubo Recibidor</p>

	</div>

	<div class="imgType">
		
		<%= link_to (image_tag "tools/sepL.png"), :controller => "categories", :action => "show_tools", :type => @sepL, :link=>"tools/sepL.png" , :titulo=>"Separadores de Liquido" , :fotos=>"sepL"%>
		
			
		
		
		<p>Separador de Liquido</p>
	</div>

	<div class="imgType">
		
		<%= link_to (image_tag "tools/sepA.png"), :controller => "categories", :action => "show_tools", :type => @sepA, :link=>"tools/sepA.png" , :titulo=>"Separadores de Aceite" , :fotos=>"sepA"%>
		
			
		
		
		<p>Separador de Aceite</p>
	</div>



	


</div>



<div class="info-type">
	<p>Selecciona una categoría</p>
</div>

</div>

