<div class="category">
<h1>> PRODUCTOS > COMPRESORES</h1>

<div class="types">
	<img src="assets/cat-1-hover-01.png">
</div>


<div class="info-type">
	<p>COMPRESORES SEMI-HERMÉTICOS | 1 a 80 HP. Fabricados en Italia</p>
</div>

</div>